<!DOCTYPE html>
<html>
<head>
  <title>Lista Jogadores</title>
  <meta charset="utf8"/>
</head>
<body>
<h1>Lista Jogadores</h1>

<table border="1">
  <tr>
    <th>ID</th>
    <th>NOME</th>
    <th>POSICAO</th>
    <th>DATA NASCIMENTO</th>
    <th>EQUIPA</th>
    <th>GOLOS</th>
    <th>CARTOES</th>
  </tr>
  <tr th:each="j : ${jogadores}">
    <td th:text="${j.id}">id</td>
    <td th:text="${j.nome}">nome</td>
    <td th:text="${j.posicao}">posicao</td>
    <td th:text="${j.data_nascimento}">data_nascimento</td>
    <td th:text="${j.equipa.nome}">equipa</td>
  </tr>
</table>

</body>
</html>